<h1>Projects</h1>

<form action="/projects" method="post">
  <input type="text" name="name" placeholder="Add a Project">
  <button type="submit">Submit</button>
</form>


<ul>
  <% @projects.each() do |project| %>
  <li><a href="/projects/<%= project.id() %>"><%= project.name() %></a> <a href="/projects/<%= project.id %>/edit">Edit</a>
  <form action="/projects/<%= project.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete</button>
  </form>
  </li>
  <% end %>
</ul>
